@bgBlue: #B9DEEE;
@textBlue: #85C6EE;

@deepGray: #434753;
@shallowGray: #F1F5F8;

@textDeepGray: #444652;
@textShallowGray: #C6CBD1;

@messageGreen: #62BF6E;

@unreadColor: red;

@blackBorder: 1px solid rgb(10, 10, 10);
@grayBorder: 1px solid rgb(213, 213, 213);
@whiteBorder: 2px solid white;



